@import url("reset.css")
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@import */

/* Center anything: */
/* https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center */
.centered-wrapper {
  position: relative;
  text-align: center;
}
.centered-wrapper:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0; height: 100%;
  vertical-align: middle;
}
.centered-content {
  display: inline-block;
  vertical-align: middle;
}
.centered-content img {
  display: block;
  margin: 0 auto;
}

/* end center anything */

/* on hover show menu items 
Add class dropdown to parent menu subelement
Add class dropdown-content to submenu element. */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* end on hover show menu items */

body {
  margin: 30px auto;
  width: 80%;
}

nav ul, footer ul {
  font-family:"Noto Sans", "Liberation Sans", "Arial", sans-serif;
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-family:"Noto Sans", "Liberation Sans", "Arial", sans-serif;
}
h2 {
  font-size: 2.5em;
  font-family:"Noto Sans", "Liberation Sans", "Arial", sans-serif;
}
h3 {
  font-size: 2em;
  font-family:"Noto Sans", "Liberation Sans", "Arial", sans-serif;
}
h4 {
  font-size: 1.4em;
  font-family:"Noto Sans", "Liberation Sans", "Arial", sans-serif;
  color: #333;
}
p {
  font-size: 1.4em;
  line-height: 1.3em;
  color: #333;
}
ol {
  font-size: 1.4em;
  line-height: 1.4em;
  color: #333;
}
/* ol elements nested 1 or more levels, em is a relative to parent unit */
ol ol {
  font-size: 1em;
  line-height: 1em;
  color: #333;
}
ul {
  font-size: 1.4em;
  line-height: 1.4em;
  color: #333;
}
ul ul {
  font-size: 1em;
  line-height: 1em;
  color: #333;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.4em;
}

ul.posts li {
  list-style: none;
}

/* Code higlighting */
.highlighter-rouge {
  font-size: 1.1em;
}

.rouge-code {
  font-size: 1.1em;
}

.rouge-gutter {
  font-size: 1.1em;
  opacity: 0.6;
}
