<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon-16.png">
    {% seo %}

  </head>
  <body class="centered-wrapper">
  <nav>
  <ul>
    <li class="dropdown"><a href="/">Home</a>
    {% include menulist.html %}
    </li>
    <li><a href="/git-handbook">Git handbook</a></li>
    <!--
    <li><a href="/cv">CV</a></li>
    <li><a href="/blog">Blog</a></li>
    -->
  </ul>
  </nav>
  <div class="container centered-wrapper">

  <h1>{{page.title}}</h1>
  
  {{ content }}
  
  </div><!-- /.container -->
    <footer>
    <ul>
      <li><a href="https://github.com/c0hen">github.com/c0hen</a></li>
      <li><a href="/README">README</a></li>
    </ul>
    </footer>
  </body>
</html>
